@charset "utf-8";
/* Fichier de style global du livre */
h1 {
  text-align: center;
  padding-top: 2em;
}
h2 {
  text-align: justify;
  padding-top: 2em;
  text-indent: 5%;
}
p {
  text-align: justify;
  text-indent: 5%;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}